@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-museo: "Museo", ui-sans-serif, system-ui, sans-serif;
  --font-radio: "Radio", ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --foreground: #ededed; */
  }
}

@font-face {
  font-family: "Museo";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/MuseoSansCyrl-100.woff2") format("woff2");
}

@font-face {
  font-family: "Radio";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/roadradio.woff2") format("woff2");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
